{% extends "base.html" %}

{% block title %}Hello World{% endblock %}

{% block body %}
<section class="section">
  <div class="columns">   
    <div class="column">
      <h1 class="title">Hello World!</h1>
      
      <h2 class="title is-4">API call to add a name.</h2>
      
      <form id="formAddName">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="" value=""
                   name="username" id="buttonAdd">
          </div>
        </div>
        
        <button class="button is-primary" type="submit" >Add</button>
      </form>
      
      <h2 class="title is-4">Use API to display last 5 names.</h2>
      
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Key</th>
            <th>User name</th>
          </tr>
        </thead>

      </table>      
    </div>
  </div>
</section>
{% endblock body %}
