#
# systemd unit file
#
[Unit]
Description=Feather CL web application

# start us only once the network and logging subsystems are available,
# consider adding redis-server.service if Redis is local and systemd-managed.
After=syslog.target network.target

# See these pages for lots of options:
#
#   https://www.freedesktop.org/software/systemd/man/systemd.service.html
#   https://www.freedesktop.org/software/systemd/man/systemd.exec.html
#

[Service]
Type=simple
WorkingDirectory=/opt/feather/bin/
ExecStart=/usr/local/bin/feather

User=deploy
Group=deploy
UMask=0002

# if we crash, restart
RestartSec=1
Restart=on-failure

# Identifier in syslog
SyslogIdentifier=feather

[Install]
WantedBy=multi-user.target
